[Desktop Entry]
Categories=VoiceApp
Comment=
Exec=mycroft-gui-app --hideTextInput --skill=soundcloud-audio-player.aiix.home
GenericName=
Icon=soundcloud-skill
MimeType=
Name=Soundcloud
Name[ar]=ساوند كلاود
Name[ca]=Soundcloud
Name[ca@valencia]=Soundcloud
Name[cs]=Soundcloud
Name[de]=Soundcloud
Name[en_GB]=Soundcloud
Name[es]=Soundcloud
Name[eu]=Soundcloud
Name[fr]=Soundcloud
Name[hi]=साउंड-क्लाउड
Name[hu]=Soundcloud
Name[it]=Soundcloud
Name[ko]=Soundcloud
Name[nl]=Soundcloud
Name[pl]=Soundcloud
Name[pt]=Soundcloud
Name[sk]=Soundcloud
Name[sl]=Soundcloud
Name[sv]=Soundcloud
Name[uk]=Soundcloud
Name[vi]=SoundCloud
Name[x-test]=xxSoundcloudxx
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
