[Desktop Entry]
Categories=VoiceApp
Comment=
Exec=mycroft-gui-app --hideTextInput --skill=soundcloud-audio-player.aiix.home
GenericName=
Icon=soundcloud-skill
MimeType=
Name=Soundcloud
Name[ca]=Soundcloud
Name[cs]=Soundcloud
Name[es]=Soundcloud
Name[eu]=Soundcloud
Name[nl]=Soundcloud
Name[sk]=Soundcloud
Name[sl]=Soundcloud
Name[sv]=Soundcloud
Name[uk]=Soundcloud
Name[x-test]=xxSoundcloudxx
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
